.app {
  display: flex;
  flex-direction: column; 
  text-align:start;
  margin: auto;
  max-width: 900px;
  align-self: center;
  justify-content: center;
}

.btn-margn{
  margin-top: 1rem;
  width: 40%;
}